.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  align-items: end;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;

  & > * {
    grid-row: 1;
    grid-column: 1;
    color: var(--primary);
  }

  & .info {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    color: var(--primary);
    height: fit-content;
    margin-bottom: 4rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    margin-inline: auto;
    text-align: left;
    align-items: center;

    & h2 {
      margin-bottom: 1rem;
    }

    & .smallinfo {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 0.8rem;
      width: 100%;
      & div {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
.headerimg {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  opacity: 50%;
}

.harleken {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: right;
  width: 300px;
  height: 300px;
}
