.quizside {
  padding-top: 2rem;
  min-height: 95dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary);

  & .harleken {
    position: absolute;
    & svg {
      scale: 3;
    }
    & svg path {
      stroke: var(--fredagsrock);
    }

    &.left {
      transform: rotate(180deg);
      bottom: 0;
      left: 0;
    }
    &.right {
      top: 0;
      right: 0;
    }
  }
  gap: 2rem;

  &:has(.program) {
    background-color: var(--primary);
    width: 100%;

    & .harleken {
      display: none;
    }
  }
  & h1 {
    margin-left: 2rem;
    text-align: center;

    font-weight: 700;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: clamp(1.5rem, 5vw, 3rem);
    color: var(--primary);
  }
}
