.aboutside {
  padding-top: 2rem;
  & .thing {
    margin-bottom: 2rem;
    margin-left: 2rem;

    & p {
      margin-top: 1rem;
      max-width: 70ch;
    }
  }

  .breaker {
    margin-top: 5rem;
  }
}
