.likeBtn {
  background: none;
  border: none;
  cursor: pointer;

  & svg {
    stroke: var(--primary);
    stroke-width: 2px;
    fill: none;
    transition: 0.2s ease-in;

    &.active {
      fill: var(--primary);
      transition: 0.2s ease-in;
    }
  }
}
