.quiz {
  width: 1200px;

  @media (width<1200px) {
    width: 800px;
  }
  @media (width<800px) {
    width: 100%;
  }
  padding-inline: 2rem;
  & h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  z-index: 2;

  & .question {
    font-size: 2rem;
    line-height: 2rem;
    z-index: 2;
    color: var(--primary);
    @media (width<800px) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
  & .loadercontainer {
    z-index: 12;
    background-color: var(--secondary);
    & p {
      text-align: right;
      margin-bottom: 0.2rem;
      color: var(--primary);
      z-index: 2;
      background-color: var(--secondary);
    }
  }
  & .loader {
    z-index: 2;
    width: 200px;
    height: 20px;
    border-radius: 2rem;
    border: 1px solid var(--primary);
    overflow: hidden;
    position: relative;
    background-color: var(--secondary);
    & .process {
      transition: 0.5s ease-in-out;
      height: 100%;
      background-color: var(--primary);
      position: absolute;
      left: 0;
    }
  }
}
.answershelf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1rem;

  @media (width<800px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
}

.quizanswer {
  z-index: 2;
  cursor: pointer;
  position: relative;
  height: 150px;
  width: 100%;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media (width<800px) {
    height: 100px;
  }

  & .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    background-color: var(--primary);
    transition: 0.5s ease-in-out;
    border-radius: 5rem;
  }
  &:focus {
    border: none;
    outline: 2px solid var(--fredagsrock);
  }

  & h3 {
    @media (width<800px) {
      font-size: 1rem;
    }
    color: var(--primary);
    font-size: 1.5rem;
  }
}
.bottom {
  z-index: 2;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  & button {
    cursor: pointer;
  }

  & .next {
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--primary);
    width: fit-content;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 2.1rem;
    background-color: var(--primary);
    & .fill {
      height: 100%;
      position: absolute;
      background-color: var(--secondary);
      width: 100%;
      left: 0;
      border-radius: 100%;
      top: 100%;
      transition: 0.5s ease-in-out;
    }
    & p {
      text-transform: uppercase;
      color: var(--secondary);
      font-size: 0.8rem;
      line-height: 0.8rem;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      & p {
        color: var(--primary);
        transition: 0.5s ease-in-out;
        z-index: 1;
        position: relative;
      }

      & .fill {
        border-radius: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        z-index: 0;
      }
    }
  }

  & .back {
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--primary);

    z-index: 2;
    width: fit-content;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: var(--secondary);
    height: 2.1rem;

    & .fill {
      height: 100%;
      position: absolute;
      background-color: var(--primary);
      width: 100%;
      left: 0;
      border-radius: 100%;
      top: 100%;
      transition: 0.5s ease-in-out;
      .fill & {
        background-color: var(--secondary);
      }
    }
    & p {
      text-transform: uppercase;
      color: var(--primary);
      font-size: 0.8rem;
      line-height: 0.8rem;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      & p {
        color: var(--secondary);
        transition: 0.5s ease-in-out;
        z-index: 1;
        position: relative;
      }

      & .fill {
        border-radius: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        z-index: 0;
      }
    }
  }
}

.startquiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  & .next {
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--primary);
    width: fit-content;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 2.1rem;
    background-color: var(--secondary);
    & .fill {
      height: 100%;
      position: absolute;
      background-color: var(--primary);
      width: 100%;
      left: 0;
      border-radius: 100%;
      top: 100%;
      transition: 0.5s ease-in-out;
    }
    & p {
      text-transform: uppercase;
      color: var(--primary);
      font-size: 0.8rem;
      line-height: 0.8rem;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      & p {
        color: var(--secondary);
        transition: 0.5s ease-in-out;
        z-index: 1;
        position: relative;
      }

      & .fill {
        border-radius: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        z-index: 0;
      }
    }
  }
}
.primary {
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--secondary);
  width: fit-content;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  height: 2.1rem;
  background-color: var(--secondary);
  & .fill {
    height: 100%;
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    left: 0;
    border-radius: 100%;
    top: 100%;
    transition: 0.5s ease-in-out;
  }
  & p {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 0.8rem;
    line-height: 0.8rem;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    & p {
      color: var(--secondary);
      transition: 0.5s ease-in-out;
      z-index: 1;
      position: relative;
    }

    & .fill {
      border-radius: 0;
      top: 0;
      transition: 0.5s ease-in-out;
      z-index: 0;
    }
  }
}
